<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    HomeSoul | <%= title %>
  </title>
  <link rel="icon" type="image/png" href="/assets/img/logo.svg">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
  <link type="text/css" rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/dist/css/adminlte.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/assets/plugins/datatables.net-responsive-bs/css/responsive.bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/assets/site.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
  <div class="wrapper">
    <%- include('../include/header') %>
    <%- include('../include/sidebar') %>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">
                <%= title %>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <section class="content">