/* fonts */
@font-face {
  font-family: "Work Sans Regular";
  font-weight: normal;
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot") format("embedded-opentype"),
    url("../fonts/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans-Regular.ttf") format("truetype"),
    url("../fonts/WorkSans-Regular.svg") format("svg");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Bold";
  font-weight: bold;
  src: url("../fonts/WorkSans-Bold.eot");
  src: url("../fonts/WorkSans-Bold.eot") format("embedded-opentype"),
    url("../fonts/WorkSans-Bold.woff2") format("woff2"),
    url("../fonts/WorkSans-Bold.woff") format("woff"),
    url("../fonts/WorkSans-Bold.ttf") format("truetype"),
    url("../fonts/WorkSans-Bold.svg") format("svg");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Medium";
  font-weight: 500;
  src: url("../fonts/WorkSans-Medium.eot");
  src: url("../fonts/WorkSans-Medium.eot") format("embedded-opentype"),
    url("../fonts/WorkSans-Medium.woff2") format("woff2"),
    url("../fonts/WorkSans-Medium.woff") format("woff"),
    url("../fonts/WorkSans-Medium.ttf") format("truetype"),
    url("../fonts/WorkSans-Medium.svg") format("svg");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans SemiBold";
  font-style: normal;
  src: url("../fonts/WorkSans-SemiBold.eot");
  src: url("../fonts/WorkSans-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("../fonts/WorkSans-SemiBold.woff") format("woff"),
    url("../fonts/demo.html") format("truetype"),
    url("../fonts/WorkSans-SemiBold.svg") format("svg");
  font-display: swap;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%2833, 104, 180, 65.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

/* commen css */
.modal-content {
  background-color: transparent;
  border: none;
}

.common-title {
  margin-left: 11px;
  font-family: "Work Sans SemiBold";
  font-style: normal;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 0;
}

.title-div {
  margin-bottom: 34px;
}

.newContainer {
  width: 100%;
}

@media (min-width: 1100px) {
  .container {
    max-width: -webkit-fill-available;
    padding: 0 15px;
    max-width: 1645px;
    margin: auto;
  }

  .footer-section {
    display: flex;
    justify-content: center;
  }
}

.paragraph-wrapper {
  font-size: 20px;
  color: #2b2a29;
  font-family: "Work Sans Regular";
  font-weight: normal;
  line-height: normal;
}

/* navbar */
header {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}

.navLogo {
  /* width: 111px; */
}

.navbar-brand {
  padding: 0;
  margin-left: 15px;
}

.navbar {
  padding: 15px 0 7px;
  box-shadow: 0px 10px 15px #0000000d;
}

.header-fontweight {
  font-weight: 500;
  text-wrap: nowrap;
}

body {
  overflow-y: scroll !important;
}
.get-started-btn {
  background-color: #2c5ab4;
  padding: 10px 23px;
  margin-right: 27px;
}

.get-started-btn,
.login-btn {
  font-size: 18px;
  font-family: "Work Sans Medium";
  border-radius: 30px;

  font-weight: 500;
  line-height: 21px;
}

.text-container {
  padding-top: 36px;
}

.login-btn {
  background-color: #ffffff;
  border: 2px solid #2c5ab4;
  color: #2c5ab4;
  padding: 9px 40px;
}

.navbar-nav {
  margin-top: -13px;
}

.nav-item {
  color: #707070;
  font-size: 18px;
  margin-right: 115px;
  font-family: "Work Sans Medium";
  font-weight: 500;
  line-height: 27px;
}

/* footer */
.footer-title {
  font-size: 18px;
  padding-bottom: 17px;
  font-family: "Work Sans SemiBold";
  font-style: normal;
}

.footer-text {
  font-size: 14px;
  font-family: "Work Sans Regular";
  font-weight: normal;
}
.sitemap-text {
  font-size: 18x;
  font-family: "Work Sans Regular";
  font-weight: normal;
}

.social-element {
  justify-content: center;
}

.footer-icon {
  padding-right: 14px;
}

.social-link img {
  max-width: 32px;
}

footer .container {
  max-width: 910px;
}

.contact-footer img {
  max-width: 29px;
  padding-right: 0;
  margin-right: 21px;
}

.footer-menu img {
  padding-right: 9px;
}

.footer-last-text {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* service card */

/* .common-title {
  position: relative;
}
.common-title::before {
  content: "";
  width: 12px;
  height: 59px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent linear-gradient(180deg, #2c5ab4 0%, #6dbd45 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
} */

/* banner section */
.banner-section {
  background: #f5f6f8 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin-bottom: 55px;
  padding: 60px 0 84px 0;
  margin-top: 110px;
}

.banner-left-content {
  width: 71.1%;
}

.banner-right-content {
  width: 28.9%;
}

.banner-text {
  padding-left: 2%;
  font-family: "Work Sans Regular";
  color: #2b2a29;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 75px;
}

.banner-highlight-text {
  color: #2b2a29;
  font-size: 40px;
  padding-bottom: 140px;
  margin: 0;
  font-family: "Work Sans Bold";
  font-weight: bold;
  line-height: normal;
  padding-left: 2%;
  max-width: 895px;
}

.banner-text-details {
  max-width: 655px;
  padding-bottom: 55px;
}

.banner-btn {
  background-color: #2c5ab4;
  padding: 20px 42px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  border: none;
  font-family: "Work Sans Medium";
  font-weight: 500;
  line-height: 36px;
}

.banner-img {
  object-fit: contain;
  max-height: 445px;
  max-width: 445px;
  height: 100%;
}

.banner-img-main {
  /* width: 33.33333333%;
  flex: 0 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about us */

.about-us {
  margin-bottom: 55px;
}

/* card */
.card-title {
  font-size: 22px;
  color: #2c5ab4;
  font-family: "Work Sans Medium";
}

.card-text {
  font-size: 18px;
  color: #2b2a29;
  font-family: "Work Sans Regular";
  line-height: normal;
  min-height: 252px;
}

.card-details-link {
  color: #2c5ab4;
  font-size: 20px;
  font-family: "Work Sans Medium";
  font-weight: 500;
}

.service-card-main {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* works card */

.works-card-title {
  color: #2b2a29;
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  min-height: 58px;
}

.works-card-content {
  margin: 25px auto 0px !important;
  max-width: 294px;
  min-height: 210px;
}

.works-box .card-body {
  padding: 25px 10px 35px;
}

/* Cumulative Counters */

.counter-img {
  border: 4px solid #f5f6f8;
  border-radius: 25px;
  width: 100%;
}

/* connect form */
.form-section {
  background-color: #6dbd45;
}

.connect-form {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #0000004d;
  border-radius: 30px;
  padding: 53px 60px 48px 65px;
  max-width: 770px;
  width: 100%;
}

.form-content {
  font-size: 28px;
  color: #2b2a29;
  font-family: "Work Sans Regular";
  font-weight: normal;
  line-height: 38px;
  padding-top: 40px;
  max-width: 801px;
  margin: 0;
}

.form-title {
  padding-top: 9%;
  margin-left: 0;
  max-width: 67%;
}

.form-content {
  padding-top: 43px;
}

.contact-form-main {
  padding: 26px 12px 33px 47px;
}

/* .form-group h2 {
  font-size: 40px;
} */
.form-group label {
  display: flex;
  justify-content: space-between;
  color: #2b2a29;
  font-size: 24px;
  font-family: "Work Sans SemiBold";
  line-height: 40px;
  margin-top: 35px;
  align-items: center;
}

.form-label-name {
  margin: 0;
}

.form-group label span {
  color: red;
}

.connect-form-input {
  background-color: #f5f6f8;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  width: 66.66666667%;
  height: 50px;
}

.connect-form-btn {
  background-color: #2c5ab4;
  border-radius: 10px;
  color: #ffffff;
  line-height: 25px;
  padding: 20px 132px;
  font-family: "Work Sans Medium";
  font-weight: 500;
  border: none;
  font-size: 22px;
  margin-top: 40px;
  max-width: 347px;
}

.connect-form-title {
  font-size: 30px;
  color: #2b2a29;
  font-family: "Work Sans SemiBold";
  margin-bottom: 60px;
  line-height: 40px;
}

.contact-form-main {
  display: flex;
  justify-content: end;
}

/* listing-information */

.listing-information {
  margin: 86px 0 103px 0;
}

.listing-title {
  font-size: 28px;
  font-family: "Work Sans SemiBold";
  font-style: normal;
  color: #2b2a29;
  line-height: 42px;
  margin: 0;
}

.listing-content {
  font-size: 22px;
  line-height: 30px;
  font-family: "Work Sans Regular";
  font-weight: normal;
  width: 100%;
}

.listing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 11%;
}

/* What You will Get */

.get-icon {
  clip-path: polygon(
    0 0,
    70% 0%,
    100% 0,
    100% 70%,
    79% 100%,
    18% 100%,
    0% 70%,
    0% 30%
  );
  background-color: #f5f6f8;
  max-width: 179px;
  min-height: 192px;
  margin: 0 auto;
  padding: 10px 10px 13px;
}

.get-icon img {
  height: 70px;
  margin-bottom: 3px;
}

.will-get-icon-text {
  color: #2b2a29;
  font-size: 22px;
  line-height: 28px;
  font-family: "Work Sans Regular";
  font-weight: normal;
  margin: 0;
}

.will-get-text-content {
  font-size: 26px;
  color: #2b2a29;
  line-height: 30px;
  font-family: "Work Sans Regular";
  font-weight: normal;
}

.reset-password {
  background-color: #f4fcf0;
  padding: 150px 0 150px 0;
  margin-top: 95px;
  position: relative;
}

.reset-password-box {
  background-color: #fff;
  padding: 36px 45px 24px 45px;
  max-width: 530px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #0000000d;
}

.reset-heading {
  font-family: "Work Sans SemiBold";
  color: #2b2a29;
  font-size: 26px;
  text-align: center;
  width: 80%;
}

.reset-subtext {
  font-family: "Work Sans Regular";
  color: #aeadad;
  font-size: 16px;
  text-align: center;
  width: 80%;
}

.login-input-container,
.reset-input-container {
  display: flex;
  flex-direction: row;
  margin: 5% 0 5% 0;
  width: 100%;
  border: 1px solid #dfdfdf;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #f5f6f8;
  padding: 0 0 0 20px;
  gap: 15px;
  align-items: center;
}

.login-email-input,
.reset-input {
  width: 100%;
  background-color: transparent !important;
  border: none;
  font-family: "Work Sans Regular";
  font-size: 16px;
  color: #2b2a29;
  outline: none;
  box-shadow: none !important;
  padding: 0 20px 0 0;
}

.login-email-input::placeholder {
  font-family: "Work Sans Regular";
  font-size: 16px;
  margin: 0 2px 0 2px;
  color: #aeadad;
}

.signup-input::placeholder {
  font-family: "Work Sans Regular";
  font-size: 14px;
  color: #aeadad;
}

.reset-input::placeholder {
  font-family: "Work Sans Regular";
  font-size: 16px;
  margin: 0 2px 0 2px;
  color: #aeadad;
}

.error-message {
  border: 2px solid red;
}

.message-icon-container {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  background-color: #d5e0f6;
  border-radius: 27px 27px 27px 27px;
}

/* sign-up-detail */

.sign-up-detail {
  background-color: #f4fcf0;
  padding: 50px 0 70px 0;
  margin-top: 120px;
  width: 100%;
  position: relative;
}

.enginner-detail-form {
  background-color: #fff;
  padding: 36px 45px 24px 45px;
  max-width: 530px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000000d;
  position: relative;
  z-index: 1;
}

.enginner-detail-form h3 {
  text-align: center;
  font-family: "Work Sans SemiBold";
  font-size: 26px;
  color: #2b2a29;
}

.enginner-detail-form h4 {
  font-family: "Work Sans Regular";
  text-align: center;
  color: #707070;
  font-size: 16px;
}

.sign-up-detail label {
  display: block;
  width: 100%;
  color: #2b2a29;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 26px;
  font-family: "Work Sans Medium";
}

.sign-up-detail select {
  display: block;
  width: 100%;
  background-color: #f5f6f8;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  height: 50px;
  padding-left: 22px;
}

.sign-up-detail input {
  font-family: "Work Sans Regular";
  width: 100%;
  background-color: #f5f6f8;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  height: 50px;
  padding-inline: 22px;
  font-size: 14px;
  color: #2b2a29;
  outline: none;
}

button.connect-form-btn.signup {
  margin: 30px auto 0;
  text-align: center;
  display: flex;
  max-width: 436px;
  width: 100%;
  justify-content: center;
}

.privacy-policy input {
  display: flex;
  width: 20px !important;
  margin-right: 15px;
}

.privacy-policy {
  display: flex;
  align-items: flex-start;
}

.privacy-policy label {
  color: #707070;
  font-size: 14px;
  line-height: 16px;
}

.sign-up-detail select option {
  font-size: 14px;
  color: #2b2a29;
}

.testimonial-cards {
  margin: 114px 0;
}

/* carousel */

.carousel-main {
  border: 2px solid #f5f6f8;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.carousel-text {
  color: #2b2a29;
  font-size: 20px;
  line-height: normal;
  margin-top: 65px;
  text-align: center;
}

.carousel-main img {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #f5f6f8;
  /* padding: 54px 54px; */
  object-fit: contain;
  border-radius: 100%;
}

/* user types */

.userTypes-main {
  background-color: #f4fcf0;
  padding: 120px 0;
}

.user-type-card {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #0000000d;
  border-radius: 20px;
  padding: 70px;
  position: relative;
  width: 100%;
  max-width: 536px;
}

.user-type-img-main {
  position: absolute;
  left: 0;
  top: -50px;
  right: 0;
}

.user-type-img {
  width: 90%;
  border-radius: 15px;
  height: auto;
}

.user-type-card-title {
  font-size: 28px;
  color: #2b2a29;
  font-family: "Work Sans SemiBold";
  line-height: normal;
}

.user-type-title {
  color: #707070;
  font-size: 22px;
  font-family: "Work Sans Medium";
  font-style: normal;
  line-height: normal;
}

.user-type-card-content {
  color: #707070;
  font-size: 22px;
  font-family: "Work Sans Regular";
  font-weight: normal;
  line-height: 25px;
}

.user-get-started-btn {
  font-size: 22px;
  background-color: #2c5ab4;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-family: "Work Sans Medium";
  position: absolute;
  bottom: -35px;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 70px;
  max-width: 260px;
  z-index: 1;
}

/* success card */
.success-animation {
  height: 200px;
  width: 200px;
  background-image: url("../images/successBg.png");
}

.sign-up-detail h2 {
  color: #6dbd45;
  font-size: 35px;
  font-family: "Work Sans Medium";
  margin-top: 20px;
}

.sign-up-detail p {
  color: #2b2a29;
  font-size: 25px;
  font-family: "Work Sans Regular";
  line-height: 30px;
}

.sign-up-detail p a {
  color: #2c5ab4;
  text-decoration: none;
}

.sign-up-detail p span a {
  color: #6dbd45;
  text-decoration: none;
}

.sign-up-detail p span {
  margin-top: 20px;
  line-height: 80px;
}

.verified-btn {
  background-color: #2c5ab4 !important;
  font-size: 20px;
  width: 50%;
}

.verified-link {
  color: #6dbd45;
  margin: 30px 0 68px 0;
  font-family: "Work Sans Regular";
  font-size: 18px;
}

.verified-space {
  padding: 80px 0 50px 0;
}

.top-spacing {
  margin-top: 125px;
}

/* login */
.login-form-content {
  max-width: 83%;
}

.login-container {
  margin: 0 84px 0 140px;
}

.login-form-content h3,
h4 {
  color: #588251;
  font-size: 50px;
  font-family: "Work Sans Regular";
}

.login-form-content h4 {
  font-family: "Work Sans Medium";
}

.login-form-content h5 {
  color: #363d3d;
  font-size: 45px;
  font-family: "Work Sans Regular";
}

.login-form-content p {
  color: #2b2a29;
  font-size: 22px;
  font-family: "Work Sans Regular";
  line-height: 30px;
  max-width: 339px;
}

.login-title {
  font-size: 34px;
  color: #2b2a29;
  font-family: "Work Sans SemiBold";
  font-style: normal;
  text-align: start !important;
}

.login-forgot-password {
  color: #2c5ab4;
  text-align: end;
  text-decoration: underline;
}

.checking-signup-text {
  font-size: 15px;
  text-align: center !important;
}

.checking-signup-text a {
  color: #588251 !important;
  text-decoration: underline !important;
}

.login-submit-button {
  background-color: #2c5ab4;
  width: 60%;
  padding: 10px 0;
}

.col-4.col-md-12.custom {
  width: 33.333%;
}

@media (max-width: 1699px) {
  .banner-highlight-text {
    font-size: 56px;
    line-height: normal;
  }

  .listing-information {
    margin: 132px 0 132px 0;
  }

  .connect-form-title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 40px;
  }

  .service-card-main {
    margin-bottom: 90px;
  }

  .login-form-content h3,
  h4 {
    color: #588251;
    font-size: 56px;
    font-family: "Work Sans Regular";
  }
}

@media (max-width: 1599px) {
  .banner-highlight-text {
    font-size: 52px;
    padding-bottom: 30px;
  }

  .banner-text {
    padding-bottom: 40px;
  }

  .common-title {
    font-size: 48px;
    line-height: 52px;
  }

  .listing-card {
    width: 33.33%;
  }

  .connect-form-title {
    font-size: 34px;
    line-height: 38px;
  }

  .connect-form {
    padding: 40px 30px 40px 30px;
  }

  .service-card-main {
    margin-bottom: 85px;
  }
}

@media (max-width: 1499px) {
  .nav-item {
    margin-right: 85px;
  }

  .banner-section {
    margin-bottom: 80px;
    padding: 60px 0 60px 0;
  }

  .banner-btn {
    padding: 17px 35px;
    font-size: 28px;
    line-height: normal;
  }

  .common-title {
    font-size: 44px;
    line-height: 48px;
  }

  .card-title {
    font-size: 28px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-information {
    margin: 121px 0 121px 0;
  }

  .form-group label {
    font-size: 26px;
    line-height: normal;
  }

  .service-card-main {
    margin-bottom: 75px;
  }

  .login-form-content h3,
  h4 {
    font-size: 50px;
  }

  .login-form-content h5 {
    font-size: 41px;
  }
}

@media (max-width: 1399px) {
  .banner-highlight-text {
    font-size: 46px;
  }

  .paragraph-wrapper {
    font-size: 28px;
    line-height: normal;
  }

  .nav-item {
    margin-right: 50px;
  }

  .banner-btn {
    font-size: 26px;
    padding: 15px 35px;
  }

  .common-title {
    font-size: 40px;
    line-height: 44px;
  }

  .card-text {
    font-size: 22px;
    line-height: normal;
    min-height: 252px;
  }

  .works-card-content {
    margin: 15px auto 0px !important;
    min-height: 210px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-information {
    margin: 100px 0 100px 0;
  }

  .connect-form-title {
    font-size: 32px;
    line-height: 34px;
  }

  .service-card-main {
    margin-bottom: 60px;
  }

  .new-audit-prev-btn {
    padding: 0px 50px !important;
  }

  .new-audit-next-btn {
    padding: 5px 120px !important;
  }
  .new-audit-prev-btn-extra {
    padding: 0px 50px !important;
  }
}

@media (max-width: 1299px) {
  .nav-item {
    margin-right: 30px;
  }

  .banner-highlight-text {
    font-size: 42px;
  }

  .paragraph-wrapper {
    font-size: 26px;
  }

  .banner-btn {
    padding: 16px 34px;
    font-size: 20px;
    line-height: normal;
  }

  .common-title {
    font-size: 36px;
    line-height: 40px;
  }

  .title-div {
    margin-bottom: 34px;
  }

  .banner-section {
    margin-bottom: 50px;
  }

  .card-title {
    font-size: 26px;
  }

  .card-text {
    font-size: 20px;
    min-height: 252px;
  }

  .works-box .card-body {
    padding: 20px 10px 20px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-information {
    margin: 95px 0 95px 0;
  }

  .connect-form-title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 35px;
  }

  .form-content {
    font-size: 26px;
    line-height: normal;
  }

  .service-card-main {
    margin-bottom: 50px;
  }

  .login-form-content h3,
  h4 {
    font-size: 48px;
  }
}

@media (max-width: 1199px) {
  .login-form-content p {
    font-size: 23px;
  }

  .login-form-content h5 {
    font-size: 40px;
  }

  .navbar-nav.mx-lg-auto {
    position: relative;
    background: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  }

  .navbar-toggler {
    border-color: rgb(43, 89, 179);
  }

  button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: unset;
  }

  .navbar-collapse {
    top: 100%;
    width: calc(100% + 0px);
    position: absolute;
    left: 0;
    z-index: 9;
    background-color: rgba(
      var(--bs-white-rgb),
      var(--bs-bg-opacity)
    ) !important;
    padding-bottom: 20px;
  }

  .get-started-btn,
  .login-btn {
    margin: 2px 0 0 15px;
  }

  .login-btn2 {
    margin-left: 40px;
  }

  .banner-left-content {
    padding-left: 14px;
  }

  .nav-item {
    margin-right: 0;
    padding: 7px 15px;
  }

  .navbar-nav {
    margin-top: 0;
  }

  .banner-highlight-text {
    font-size: 38px;
  }

  .paragraph-wrapper {
    font-size: 24px;
  }

  .common-title {
    font-size: 34px;
    line-height: 38px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-title {
    font-size: 30px;
    line-height: 33px;
  }

  .listing-content {
    font-size: 17px;
    line-height: 25px;
  }

  .listing-information {
    margin: 90px 0 90px 0;
  }

  .form-group label {
    font-size: 22px;
    line-height: normal;
  }

  .connect-form-input {
    height: 60px;
  }

  .connect-form-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .connect-form {
    padding: 30px 15px;
  }

  .connect-form-btn {
    padding: 20px 0;
    margin-top: 30px;
    max-width: 347px;
    width: 60%;
  }

  .form-content {
    font-size: 24px;
  }

  .form-title {
    padding-top: 85px;
  }

  .sign-up-detail {
    margin-top: 95px;
    padding-top: 55px !important;
  }

  .top-spacing {
    margin-top: 95px;
  }

  .login-form-content h3,
  h4 {
    font-size: 43px;
  }
}

@media (min-width: 991px) {
  .serve-div {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .userTypes-main-space {
    padding: 0 !important;
  }

  .customer-user-card-space {
    margin-bottom: 0 !important;
  }

  .professional-user-card-space {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .user-type-card-title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .user-type-img-main {
    position: static;
  }
  .text-container {
    margin-bottom: 40px;
    padding-top: 0;
  }

  .user-type-title {
    font-size: 20px;
  }

  .social-link {
    margin-bottom: 16px !important;
  }

  .contact-footer img {
    margin-right: 13px;
  }

  .banner-highlight-text {
    font-size: 34px;
  }

  .paragraph-wrapper {
    font-size: 22px;
  }

  .banner-text {
    padding-bottom: 30px;
  }

  .banner-section {
    padding: 30px 0 50px 0;
  }

  .navLogo {
    max-width: 100px;
  }

  /* body {
    padding-top: 113px;
  } */
  .banner-left-content,
  .banner-right-content {
    width: 100%;
  }

  .banner-content {
    flex-direction: column-reverse;
  }

  .banner-img-main {
    margin-bottom: 30px;
  }

  .title-div {
    margin-bottom: 34px;
  }

  .banner-section {
    margin-bottom: 50px;
  }

  .banner-img {
    max-height: unset;
    max-width: 100%;
    height: auto;
  }

  .common-title {
    font-size: 30px;
    line-height: 34px;
  }

  .card-title {
    font-size: 24px;
  }

  .card-text {
    font-size: 18px;
    min-height: 252px;
  }

  .works-card-content {
    max-width: 100%;
    min-height: 210px;
  }

  .counters-text {
    margin: 30px 0 30px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-information {
    margin: 121px 0 121px 0;
  }

  .listing-content {
    font-size: 19px;
    line-height: 21px;
  }

  .listing-title {
    font-size: 27px;
    line-height: 34px;
  }

  .form-content {
    font-size: 22px;
  }

  .form-title {
    padding-top: 50px;
  }

  .contact-form-main {
    padding: 30px 12px 50px;
  }

  .connect-form {
    max-width: 100%;
  }

  .connect-form-btn {
    padding: 15px 0;
    max-width: 100%;
    width: 30%;
    font-size: 20px;
  }

  .connect-form-title {
    font-size: 26px;
    line-height: 28px;
  }

  .form-group label {
    font-size: 20px;
  }

  .service-card-main {
    margin-bottom: 40px;
  }

  .user-type-card {
    max-width: 536px;
    margin: 70px 10px;
    padding: 30px 30px;
  }
  .user-type-img {
    width: 100%;
  }
  .signup-container {
    padding-top: 0 !important;
  }

  .user-get-started-btn {
    padding: 15px 20px;
    translate: 0;
    position: static;
    max-width: none;
  }

  .top-spacing.login.userTypes-main.pb-0 .col-4.col-md-12.custom {
    width: 100% !important;
  }

  .col-4.col-md-12.custom img {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .banner-highlight-text {
    font-size: 28px;
  }

  .paragraph-wrapper {
    font-size: 20px;
  }

  .banner-text,
  .banner-highlight-text {
    padding-bottom: 20px;
  }

  .banner-section {
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
  }

  .about-us {
    margin-bottom: 30px;
  }

  .title-div {
    margin-bottom: 34px;
  }

  .banner-btn {
    font-size: 18px;
    padding: 15px 30px;
  }

  .common-title {
    font-size: 26px;
    line-height: 30px;
  }

  .listing-card {
    width: 33.33%;
  }

  .listing-title {
    font-size: 30px;
    line-height: 33px;
  }

  .listing-content {
    font-size: 20px;
    line-height: 21px;
  }

  .listing-information {
    margin: 80px 0 85px 0;
  }

  .form-content {
    font-size: 18px;
  }

  .banner-highlight-text {
    font-size: 26px;
  }

  .paragraph-wrapper {
    font-size: 18px;
  }

  .card-title {
    font-size: 22px;
  }

  .form-title {
    padding-top: 30px;
  }

  .form-content {
    padding-top: 20px;
  }

  .connect-form-title {
    font-size: 24px;
    line-height: 26px;
  }

  .connect-form-input {
    height: 50px;
  }

  .service-card-main {
    margin-bottom: 20px;
  }

  .login-form-content h3,
  h4 {
    font-size: 38px;
  }

  .login-form-content h5 {
    font-size: 40px;
  }

  .login-form-content p {
    font-size: 23px;
  }

  .footer-element-container {
    display: flex;
    justify-content: center;
  }

  .footer-element-container div {
    width: 100%;
    padding-left: 30%;
  }

  .social-element {
    justify-content: flex-start;
  }
}

@media (max-width: 575px) {
  .paragraph-wrapper {
    font-size: 16px;
  }

  .banner-highlight-text {
    font-size: 22px;
  }

  .banner-text,
  .banner-highlight-text {
    padding-bottom: 15px;
  }

  .banner-btn {
    font-size: 15px;
  }

  .navLogo {
    max-width: 80px;
  }

  /* body {
    padding-top: 95px;
  } */

  .title-div {
    margin-bottom: 34px;
  }

  .banner-section {
    margin-bottom: 15px;
  }

  .common-title {
    font-size: 22px;
    line-height: 26px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 16px;
    min-height: 252px;
  }

  .custom-height {
    height: 500px !important;
  }

  .card-details-link {
    font-size: 18px;
  }

  .counters-text {
    margin-top: 15px;
  }

  .listing-card {
    width: 100%;
  }

  .listing-information {
    margin: 70px 0 70px 0;
  }

  .listing-title {
    font-size: 25px;
    line-height: 36px;
  }

  .listing-content {
    font-size: 17px;
    line-height: 14px;
  }

  .form-content {
    font-size: 16 px;
  }

  .connect-form-title {
    font-size: 22px;
    line-height: 24px;
  }

  .form-label-name {
    margin: 0;
    width: 100%;
  }

  .form-group label {
    font-size: 18px;
    flex-wrap: wrap;
  }

  .connect-form-input {
    width: 100%;
  }

  .submit-btn {
    justify-content: center;
  }

  .captcha-text {
    text-align: center;
  }

  .connect-form-btn {
    width: 40%;
    font-size: 18px;
  }

  .enginner-detail-form {
    padding: 36px 25px 24px 25px;
    margin-inline: 10px;
  }

  .service-card-main {
    margin-bottom: 20px;
  }

  .sign-up-detail p span {
    font-size: 18px;
  }

  .sign-up-detail p {
    font-size: 18px;
    line-height: 20px;
  }

  .success-animation {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/successBg.png");
  }

  .sign-up-detail p span {
    margin-top: 20px;
    line-height: 50px;
  }

  .userTypes-main .row {
    display: block;
  }

  .userTypes-main .col-6.d-flex.justify-content-center {
    width: 100%;
  }

  .col-4.col-md-12.custom img {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  .login-form-content h5 {
    font-size: 36px;
  }

  .login-form-content p {
    font-size: 20px;
  }

  .text-container {
    padding-left: 1rem;
  }
}

/* carasoul-2 */
/* 
.carousel-inner > .active {
  background-color: white !important;
}
.carousel-item-main-div{
  display: flex ;
  flex-direction: row;
  margin-top: 3rem;
}

.carousel-main-container{
  margin-top: 130px;
} */
.carousel-main-container {
  margin-top: 0px;
  margin-bottom: 30px;
}

.carousel-item-div {
  margin: 0 8px;
  margin-top: 70px;
  max-width: 89%;
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.react-multiple-carousel__arrow--right {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  margin-right: -3.5%;
  transform: scale(1);
  z-index: 0;
}

.react-multiple-carousel__arrow--left {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  margin-left: -3.5%;
  transform: scale(1);
  z-index: 0;
}

.react-multiple-carousel__arrow:hover {
  background: #fff;
}

.react-multiple-carousel__arrow::before {
  color: #2c5ab4;
  font-weight: bolder;
}

@media (max-width: 480px) {
  .footer-element-container div {
    width: 100%;
    padding-left: 15%;
  }

  .login-container {
    margin: 0;
  }

  .top-spacing {
    margin-top: 95px;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 328px) {
  .footer-element-container div {
    padding-left: 5%;
  }
}

@media (max-width: 1500px) and (min-width: 479px) {
  .login-container {
    margin: 0 50px 0 50px;
  }
  .enginner-detail-form {
    padding: 30px 15px 20px 15px;
  }
  .login-form-content h3 h4 {
    font-size: 30px;
  }
  .dashboard-menu-link {
    width: fit-content;
    text-wrap: nowrap;
    width: 16%;
  }
  .dashboard-menu-link-sub {
    text-align: center;
    padding: 0px !important;
  }
  .dashboard-menu-link-sub span {
    font-size: 15px !important;
  }
  .form-group label {
    font-size: 22px;
  }
}

@media (max-width: 1450px) {
  .home-details-form {
    padding-left: 40px !important;
  }
}

@media (max-width: 1300px) {
  .home-details-form {
    padding-left: 0px !important;
  }
}

@media (max-width: 1018px) {
  .new-audit-prev-btn {
    padding: 0px 50px !important;
  }
  .new-audit-next-btn {
    padding: 5px 90px !important;
  }
  .new-audit-prev-btn-extra {
    padding: 0px 50px !important;
  }
}

@media (max-width: 940px) {
  .new-audit-prev-btn {
    padding: 0px 40px !important;
  }
  .new-audit-next-btn {
    padding: 5px 80px !important;
  }
  .new-audit-prev-btn-extra {
    padding: 0px 40px !important;
  }
}

@media (max-width: 871px) {
  .new-audit-prev-btn {
    padding: 0px 30px !important;
  }
  .new-audit-next-btn {
    padding: 5px 75px !important;
  }
}

@media (max-width: 827px) {
  .new-audit-prev-btn {
    padding: 0px 15px !important;
  }
  .new-audit-next-btn {
    padding: 5px 65px !important;
  }
}
@media (max-width: 1102px) {
  .new-audit-prev-btn-extra {
    display: none !important;
  }
  .navbar .newContainer {
    margin-left: 0 !important;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
  }
}
