<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">List of Records</h3>
                <div class="card-tools">
                    <a href="/user/add"><button type="button" class="btn btn-info btn-sm ml-3 ">Add
                            New</button></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="crud-table" class="table table-bordered table-striped dataTable">
                            <thead>
                                <tr role="row">
                                    <th data-name="name" data-data="name">Name</th>
                                    <th data-name="email" data-data="email">Email</th>
                                    <th data-name="status" data-data="status">Status</th>
                                    <th data-name="action" data-data="action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>